weather-rest-adapter/src/main/mule/weather-rest-adapter.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="weather-rest-adapter-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="weather-rest-adapter-config" raml="weather-rest-adapter.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="01b880a8-ed31-471d-89a7-96c82abb011f" >
		<wsc:connection wsdlLocation="http://localhost:8080/GlobalWeather?WSDL" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:8080/GlobalWeather" />
	</wsc:config>
	<flow name="weather-rest-adapter-main">
        <http:listener config-ref="weather-rest-adapter-httpListenerConfig" path="/weather-api/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="weather-rest-adapter-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="768e005d-9ce5-4f1b-b083-5a3f7fd2ed24">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---


{message: "Resource not found or missing parameter"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b7cbf1eb-597a-4842-ac29-33275665d2fc">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="weather-rest-adapter-console">
        <http:listener config-ref="weather-rest-adapter-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="weather-rest-adapter-config" />
    </flow>
    <flow name="get:\weather:weather-rest-adapter-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="55b0c0b3-90e9-400e-a3e5-898dcf45acf4">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "City name is mandatory"
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
		    	<ee:set-variable variableName="httpStatus">400</ee:set-variable>
		 	</ee:variables>
        </ee:transform>
    </flow>
    <flow name="get:\weather\city:weather-rest-adapter-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="c06567de-4437-489b-9fae-f7b56ff99653">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "City name is mandatory"
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
		    	<ee:set-variable variableName="httpStatus">400</ee:set-variable>
		 	</ee:variables>
        </ee:transform>
    </flow>
    <flow name="get:\weather\city\(cityname):weather-rest-adapter-config">
        <wsc:consume operation="GetWeather" doc:name="Invoke SOAP operation" doc:id="4187ac74-f6f9-4a58-9f3a-3eff75547d26" config-ref="Web_Service_Consumer_Config">
			<wsc:message >
				<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetWeather: {
		ns0#CityName: attributes.uriParams.cityname
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<set-variable value="#[payload.body.GetWeatherResponse['__text']]" doc:name="Set Variable" doc:id="e4dd627b-18bf-4863-afdc-7897275c8411" variableName="cdata" mimeType="text/xml"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8d6df762-38f1-49b7-995b-b2e81c4685eb">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.webserviceX.NET
---
vars.cdata.NewDataSet]]></ee:set-payload>
            </ee:message>
            <ee:variables>
		    	<ee:set-variable variableName="httpStatus">400</ee:set-variable>
		 	</ee:variables>
        </ee:transform>
    </flow>
    <flow name="get:\airports:weather-rest-adapter-config">
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="c592589f-7e58-4dac-b730-5da31c25bbff">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---

{
  message: "Country name is mandatory"
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
		    	<ee:set-variable variableName="httpStatus">400</ee:set-variable>
		 	</ee:variables>
        </ee:transform>
    </flow>
	<flow name="get:\airports\(countryName):weather-rest-adapter-config">
        <wsc:consume doc:name="Invoke SOAP operation" doc:id="6495b52f-79a3-434a-912a-1ab647c5ea8b" config-ref="Web_Service_Consumer_Config" operation="GetCitiesByCountry">
			<wsc:message >
				<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		ns0#CountryName: attributes.uriParams.countryName
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<set-variable variableName="cdata" doc:name="Set Variable" doc:id="e79ece1e-833d-4fd5-9b1f-a1759bfe9011" value="#[payload.body.GetCitiesByCountryResponse['__text']]" mimeType="text/xml"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b803f7d7-79f6-453c-a073-f65c617a94fc">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json duplicateKeyAsArray=true
ns ns0 http://www.webserviceX.NET
---
vars.cdata.NewDataSet]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
